body {
	margin:0;
	padding:0;
	background-color:#878A8C;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

nav {
	width:100%;
	top:0;
	font-size:18px;
	font-family:'exo 2', sans-serif, Helvetica, 'Times New';
	z-index:3;
	border-bottom:1px double #666666;
	background-color:white;
}

nav > ul > li {
	padding:0px 10px 25px 0px;
	display:inline-block;	
	list-style-type:none;
	
}

nav > ul {
	margin:0;
	padding:0;
}

.float {
	margin-top:20px;
	float:right;
}

nav > ul > li > .login:link {
	color:#008FFF;
	text-decoration:none;
	padding:5px 40px 5px 40px;
	border:1px solid #008FFF;
	border-radius:5px;
	cursor: pointer;
	transition: 0.3s;
}

nav > ul > li > .login:visited {
	color:#008FFF;
	text-decoration:none;
	padding:5px 40px 5px 40px;
	border:1px solid #008FFF;
	border-radius:5px;
	cursor: pointer;
	transition: 0.3s;
}

nav > ul > li > .login:focus {
	color:#006CFF;
}

nav > ul > li > .login:hover {
	color:#006CFF;
}		

nav > ul > li > .login:active {
	color:#008FFF;
	text-decoration:none;
}

nav > ul > li > .register:link {
	color:white;
	background-color:#008FFF;
	text-decoration:none;
	padding:5px 40px 5px 40px;
	border:1px solid #008FFF;
	border-radius:5px;
	cursor: pointer;
	transition: 0.3s;
}

nav > ul > li > .register:visited {
	color:white;
	background-color:#008FFF;
	text-decoration:none;
	padding:5px 40px 5px 40px;
	border:1px solid #008FFF;
	border-radius:5px;
	cursor: pointer;
	transition: 0.3s;
}

nav > ul > li > .register:focus {
	background-color:#006CFF;
}

nav > ul > li > .register:hover {
	background-color:#006CFF;
}		

nav > ul > li > .register:active {
	color:#008FFF;
	text-decoration:none;
}

.logo {
	width:20%;
	padding:5px;
}

.logo > a > img {
	width:130px;
	margin-top:0px;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

section {
	background-color:rgba(40,57,101,.9);
	width:40%;
	margin:auto;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:770px;
	margin-top:25px;
	position:relative;	
	font-family:'exo 2', sans-serif, Helvetica, 'Times New';
	background:url(https://logopond.com/logos/b45d5e4665eda50660c66488af1917f5.png) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	margin-top:45px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

form {
	margin-top:-22px;
}

form > .logout {
	color: #008FFF;
    text-decoration: none;
    padding: 5px 33px 5px 33px;
    border: 1px solid #008FFF;
	background-color:white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	margin-top: -45px;
	margin-right:12px;
    float: right;
	font-size: 18px;
    font-family: 'exo 2', sans-serif, Helvetica, 'Times New';
}

.content {
	width:50%;
	font-family:"exo 2", sans-serif;
	font-size:20px;
	margin:20px auto;
}

.content > .topic-table > tbody >  tr > th,td {
	padding:15px;
	
}

.category-table > tbody > tr > td {
	background-color:white;
}

div.forumdesc {
	width: 700px;
	display: block;
	position: relative;
	margin:auto;
	padding: 15px;
}

div.content{
	background-color: #EFEFEF;
	display: block;
	margin:0 auto;
	margin-top: 15px;
	width: 50%;
	position: relative;
	padding: 15px;
	
}

a {
	text-decoration: none;
	color: #0066FF;
}

p{
	font-family: "exo 2", sans-serif;
}



button:focus {
	outline-width: 0;
	outline-style: none;
}	

table.category-table {
	width: 100%;
	margin-bottom: 35px;
	font-family: "exo 2", sans-serif;
}

table.category-table td.main-category {
	font-size: 16pt;
	font-weight: bold;
}

table.category-table th {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

table.topic-table {
	width: 100%;
	font-family: "exo 2", sans-serif;
}

table.topic-table th {
	vertical-align: top;
	text-align: left;
	font-size: 12pt;
	background-color: #8E8E8E;
	padding: 4px;
}

table.topic-table td {
	font-size: 12pt;
	padding: 4px;
}

input#topic {
	border-radius: 15px;
	width: 350px;
	padding: 7px;
	font-family: "exo 2", sans-serif;
	margin-top: 15px;
	border: none;
	background-color: #DFDFDF;
}

textarea {
	width: 350px;
	height: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
}

a:hover {
	text-decoration: underline;
}

table.reply-table {
	font-family: Calibri;
	width: 100%;
	
}

table.reply-table th {
	vertical-align: top;
	text-align: left;
	font-size: 12pt;
}

table.reply-table td {
	padding-left: 15px;
	vertical-align: top;
	margin-bottom: 5px;
}

.category {
	width:90%;
}

.categorytopic {
	width:10%;
}

p.content {
	background-color: #EFEFEF;
	display: block;
	margin:0 auto;
	margin-top: 15px;
	width: 50%;
	position: relative;
	padding: 15px;
	color:red;
}

